<p-toast class="absolute" />

<main class="max-w-15rem m-auto mt-5 flex flex-column gap-3"routerLinkActive="router-link-active" >
    <p-button *ngIf="isAdmin" [disabled]="!isAdmin" label="Dashboard" icon="pi pi-arrow-left" severity="secondary" outlined="true" [routerLink]="['/private/dashboard']" />

    <div *ngIf="userData" class="flex flex-column gap-2">
        <p class="text-lg font-semibold">
            {{userData.name}} {{userData.surname}}
        </p>

        <a class="w-full" *ngIf="userData.is_whatsapp_selected" [href]="'https://wa.me/' + userData.phone">
            <p-button label="Scrivimi su Whatsapp" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.is_website_selected"
        [href]="userData.website.startsWith('https') ? userData.website : ('https://' + userData.website)">
            <p-button label="Visita il mio sito web" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.phone" [href]="'tel:' + userData.phone">
            <p-button label="Chiamami" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.email" [href]="'mailto:' + userData.email">
            <p-button label="Invia una mail" fluid="true"></p-button>
        </a>

        <p-button label="Salva il contatto" outlined="true" severity="secondary" icon="pi pi-save" fluid="true" (click)="vCard()"/>
    </div>

    <div *ngIf="notFound" class="flex flex-column gap-3">
        <p class="text-color-secondary">Utente non trovato</p>
    </div>
</main>