<p-toast class="absolute" />

<main class="max-w-26rem w-full px-3 m-auto mt-3 flex flex-column gap-3" routerLinkActive="router-link-active">

    <div class="w-full">
        <img [src]="(isDarkMode$ | async) ? './logo-full.svg' : './logo-full-dark.svg'" alt="virtualcard_logo" height="50"/>
    </div>

    <p-button *ngIf="isAdmin" [disabled]="!isAdmin" label="Dashboard" icon="pi pi-arrow-left" severity="secondary"
        outlined="true" [routerLink]="['/private/dashboard']" />

    <div *ngIf="userData" class="flex flex-column gap-3 mb-6">
        <!-- Profile Photo -->
        <div class="w-full relative">
            <div class="flex justify-content-center">
                <img *ngIf="userData.profilePhoto" [src]="userData.profilePhoto"
                    [alt]="userData.name + ' ' + userData.surname + ' profile photo'" class="border-round-md w-full"
                    style="max-height: 16rem; object-fit: cover;"/>
                <div *ngIf="!userData.profilePhoto"
                    class="border-round-md flex align-items-center justify-content-center surface-200 w-full h-min max-w-26rem w-full"
                    style="height: min-content; min-height: 10rem;">
                    <i class="pi pi-user text-6xl text-white text-color-secondary"></i>
                </div>
            </div>
    
            <h2 class="uppercase font-medium w-min p-2 bg-primary-reverse text-white white-space-nowrap absolute bottom-0 right-0" style="transform: skew(0deg, -5deg);">
                {{userData.name}} {{userData.surname}}
            </h2>
        </div>

        <div class="flex flex-column gap-2">
            <a id="profile-button"  class="w-full" *ngIf="userData.isWhatsappEnabled"
            [href]="'https://wa.me/' + userData.areaCode + userData.phone">
                <i class="pi pi-whatsapp text-xl"></i>
                <p>Message on WhatsApp</p>
            </a>

            <a id="profile-button" class="w-full" *ngIf="userData.isWebsiteEnabled" [href]="userData.website.startsWith('https') ? userData.website : ('https://' + userData.website)">
                <i class="pi pi-globe text-xl"></i>
                <p>Visit my website</p>
            </a>

            <a id="profile-button" class="w-full" *ngIf="userData.phone" [href]="'tel:' + userData.areaCode + userData.phone">
                <i class="pi pi-phone text-xl"></i>
                <p>Call me</p>
            </a>

            <a id="profile-button" class="w-full" *ngIf="userData.email" [href]="'mailto:' + userData.email">
                <i class="pi pi-envelope text-xl"></i>
                <p>Send Email</p>
            </a>
        </div>

        <p class="text-color-secondary w-full text-center">OR</p>

        <p-button *ngIf="userData.isVcardEnabled" label="Save contact" outlined="true" severity="secondary" fluid="true" (click)="toggleSaveContactDialog()" size="large"/>
    </div>

    <div *ngIf="notFound" class="flex flex-column gap-3">
        <p class="text-color-secondary">User not found</p>
    </div>
</main>

<p-dialog header="Save contact" [modal]="true" [(visible)]="saveContactDialog" position="center" [style]="{ width: '20rem' }" [draggable]="false" [resizable]="false">
    <div class="flex flex-column gap-3 justify-content-center align-items-center">
        <p class="text-muted">Scan the QR code to save the contact.</p>
        <div class="flex justify-content-center border-round-md overflow-hidden bg-white">
            <qrcode [qrdata]="qrCodeContent" [width]="160" [errorCorrectionLevel]="'M'" [elementType]="'canvas'"></qrcode>
        </div>
        <p class="text-muted text-sm">OR</p>
        <p-button *ngIf="userData.isVcardEnabled" label="Download contact" outlined="true" severity="secondary" icon="pi pi-download" fluid="true" (click)="vCard()" />
    </div>
</p-dialog>