<p-toast class="absolute" />

<main class="max-w-26rem w-full px-3 m-auto mt-3 flex flex-column gap-3" routerLinkActive="router-link-active">

    <div class="w-full">
        <img [src]="(isDarkMode$ | async) ? './logo-full.svg' : './logo-full-dark.svg'" alt="virtualcard_logo" height="50"/>
    </div>

    <p-button *ngIf="isAdmin" [disabled]="!isAdmin" label="Dashboard" icon="pi pi-arrow-left" severity="secondary"
        outlined="true" [routerLink]="['/private/dashboard']" />

    <div *ngIf="userData" class="flex flex-column gap-2">
        <!-- Profile Photo -->
        <div class="flex justify-content-center">
            <img *ngIf="userData.profilePhoto" [src]="userData.profilePhoto"
                [alt]="userData.name + ' ' + userData.surname + ' profile photo'" class="border-round-md w-full"
                style="max-height: 16rem; object-fit: cover;"/>
            <div *ngIf="!userData.profilePhoto"
                class="border-round-md flex align-items-center justify-content-center surface-200 w-full h-min max-w-26rem w-full"
                style="height: min-content; min-height: 10rem;">
                <i class="pi pi-user text-6xl text-white text-color-secondary"></i>
            </div>
        </div>

        <p class="text-2xl uppercase">
            {{userData.name}} {{userData.surname}}
        </p>

        <a class="w-full" *ngIf="userData.isWhatsappEnabled"
            [href]="'https://wa.me/' + userData.areaCode + userData.phone">
            <p-button label="Message me on WhatsApp" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.isWebsiteEnabled"
            [href]="userData.website.startsWith('https') ? userData.website : ('https://' + userData.website)">
            <p-button label="Visit my website" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.phone" [href]="'tel:' + userData.areaCode + userData.phone">
            <p-button label="Call me" fluid="true"></p-button>
        </a>

        <a class="w-full" *ngIf="userData.email" [href]="'mailto:' + userData.email">
            <p-button label="Send Email" fluid="true"></p-button>
        </a>

        <p-button *ngIf="userData.isVcardEnabled" label="Save contact" outlined="true" severity="secondary" fluid="true" (click)="toggleSaveContactDialog()" />
    </div>

    <div *ngIf="notFound" class="flex flex-column gap-3">
        <p class="text-color-secondary">User not found</p>
    </div>
</main>

<p-dialog header="Save contact" [modal]="true" [(visible)]="saveContactDialog" position="center" [style]="{ width: '20rem' }" [draggable]="false" [resizable]="false">
    <div class="flex flex-column gap-3 justify-content-center align-items-center">
        <p class="text-muted">Scan the QR code to save the contact.</p>
        <div class="flex justify-content-center border-round-md overflow-hidden bg-white">
            <qrcode [qrdata]="qrCodeContent" [width]="160" [errorCorrectionLevel]="'M'" [elementType]="'canvas'"></qrcode>
        </div>
        <p class="text-muted text-sm">OR</p>
        <p-button *ngIf="userData.isVcardEnabled" label="Download contact" outlined="true" severity="secondary" icon="pi pi-download" fluid="true" (click)="vCard()" />
    </div>
</p-dialog>