#profile-button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid var(--p-surface-600);
    border-radius: 0.25rem;
    transition: 0.3s ease-out;

    i {
        color: var(--p-surface-0);
    }
    
    &, &:hover, &:focus, &:active {
        color: var(--p-surface-0);
        text-decoration: none;
    }
    
    &:hover, &:focus {
        background: var(--p-surface-800);
    }
}