<p-toast class="absolute" />

<main class="sm:h-screen sm:mt-0 h-min mt-8 w-full flex align-items-center justify-content-center">
  <content class="flex flex-column gap-3 w-20rem">
    
    <a href="/">
      <img src="./logo-full.svg" alt="vcarder_logo" height="50"/>
    </a>

    <p class="text-2xl font-semibold">Recover Password</p>

    <form [formGroup]="form" (ngSubmit)="recover()" class="flex flex-column gap-2">
      <div class="flex gap-1 flex-column">
        <label for="email">Email Address</label>
        <input formControlName="email" type="email" pInputText placeholder="Enter email address" />
      </div>

      <small class="w-full text-color-secondary text-xs">If the email exists in the system, you will receive a link to reset your password.</small>

      <div class="flex gap-2 flex-column mt-2">
        <p-button label="Send Request" styleClass="w-full" type="submit" [disabled]="!form.valid || loading" [loading]="loading" />
        <p-button class="text-center" label="Back to Login" severity="secondary" outlined="true" styleClass="w-full" [routerLink]="['/login']" [disabled]="loading" />
      </div>
    </form>

  </content>
</main>